body
{
  width: 960px;
  background-color: grey;
}

section {
  text-align: center;
}

.error {
  background-color: red;
}

.highlight {
  font-weight: bold;
}

.pull-right {
  float: right;
}

.half-width {
  width: 50%;
}

.js-tweets {
  background-color:rgba(255,0,0,0.5);
}